

.Background{
  background-image: url("../images/FadedBackground.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;

}

.Commitment{
  background-image: url("../images/FadedCommitment.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;

}
.GetQuote{
  background-image: url("../images/FadedGetQuote.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;

}
.Home{
  
  background-image: url("../images/FadedEye.jpeg");
  background-repeat: no-repeat;
  margin:1px;
  background-size: cover;
  background-position: center center;
  border-width:3px;
  border-color:black;
  min-height: 100vh;


}
.Services{
  background-image: url("../images/FadedServices.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;

}